# Importing the libraries

In [37]:
import pandas as pd                            
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [38]:
# Importing the datasets

In [39]:
df = pd.read_csv('Data_Sets/data.csv')
df

     Outlook Temperature Humidity  Windy PlayGolf
0      sunny          85       85  FALSE       no
1          ?          80       90   TRUE       no
2   overcast          83       86  FALSE      yes
3      rainy          70       96  FALSE      yes
4      rainy           ?       80  FALSE      yes
5      rainy          65       70   TRUE       no
6   overcast          64       65   TRUE      yes
7      sunny          72       95      ?       no
8      sunny          69       70  FALSE      yes
9      rainy          75       80  FALSE      yes
10     sunny          75       70   TRUE      yes
11  overcast          72        ?   TRUE      yes
12  overcast          81       75  FALSE      yes
13     rainy          71       91   TRUE       no

In [40]:
df.head() # Printing the first 5 rows of the dataset

    Outlook Temperature Humidity  Windy PlayGolf
0     sunny          85       85  FALSE       no
1         ?          80       90   TRUE       no
2  overcast          83       86  FALSE      yes
3     rainy          70       96  FALSE      yes
4     rainy           ?       80  FALSE      yes

In [41]:
df.info() # Information about the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Outlook      14 non-null     object
 1   Temperature  14 non-null     object
 2   Humidity     14 non-null     object
 3   Windy        14 non-null     object
 4   PlayGolf     14 non-null     object
dtypes: object(5)
memory usage: 692.0+ bytes

In [42]:
df.shape

(14, 5)

In [43]:
df.columns #list of columns

Index(['Outlook', 'Temperature', 'Humidity', 'Windy', 'PlayGolf'], dtype='object')

In [44]:
df.describe()

       Outlook Temperature Humidity  Windy PlayGolf
count       14          14       14     14       14
unique       4          12       11      3        2
top      rainy          72       70  FALSE      yes
freq         5           2        3      7        9

In [45]:
# Replacing '?' with NaN
df.replace('?', np.nan, inplace=True)

# Data Preprocessing

In [46]:
# Identifying Missing Values

In [47]:
df.isnull().sum()

Outlook        1
Temperature    1
Humidity       1
Windy          1
PlayGolf       0
dtype: int64

In [48]:
#listing the categorical and the numerical columns
categorical_columns = df.select_dtypes(include=['category','object']).columns
numerical_columns = df.select_dtypes(exclude=['category','object']).columns

In [49]:
df[categorical_columns].isnull().sum()

Outlook        1
Temperature    1
Humidity       1
Windy          1
PlayGolf       0
dtype: int64

In [50]:
df[numerical_columns].isnull().sum()

Series([], dtype: float64)

In [51]:
# Converting Temperature and Humidity columns to numeric type
df['Temperature'] = pd.to_numeric(df['Temperature'])
df['Humidity'] = pd.to_numeric(df['Humidity'])

In [52]:
# Filling missing values in numerical columns with the mean of their respective columns
df['Temperature'] = df['Temperature'].fillna(df['Temperature'].mean())
df['Humidity'] = df['Humidity'].fillna(df['Humidity'].mean())

In [53]:
# Filling missing values in categorical columns with the mode
df['Outlook'] = df['Outlook'].fillna(df['Outlook'].mode()[0])
df['Windy'] = df['Windy'].fillna(df['Windy'].mode()[0])

In [54]:
# Display the updated DataFrame
print("\nUpdated DataFrame:")
print(df)

Updated DataFrame:
     Outlook  Temperature  Humidity  Windy PlayGolf
0      sunny         85.0      85.0  FALSE       no
1      rainy         80.0      90.0   TRUE       no
2   overcast         83.0      86.0  FALSE      yes
3      rainy         70.0      96.0  FALSE      yes
4      rainy         74.0      80.0  FALSE      yes
5      rainy         65.0      70.0   TRUE       no
6   overcast         64.0      65.0   TRUE      yes
7      sunny         72.0      95.0  FALSE       no
8      sunny         69.0      70.0  FALSE      yes
9      rainy         75.0      80.0  FALSE      yes
10     sunny         75.0      70.0   TRUE      yes
11  overcast         72.0      81.0   TRUE      yes
12  overcast         81.0      75.0  FALSE      yes
13     rainy         71.0      91.0   TRUE       no